<div class="row">
    <div class="container-fluid">
        <div class="col-md-9 mt-3" style="float: left;">
            <div class="row">
                <div class="col-md-6" style="float: left;">
                    <h5>Andy B Couture</h5>
                    <p><strong>Skill</strong> : Record Label</p>
                </div>
                <div class="col-md-6" style="float: left;">
                    <div style="text-align: center;">
                        <img src="assets/media/users/100_2.jpg" alt="Avatar" class="md-avatar rounded-circle" width="60px" height="60px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Status</strong> : Record Label </p>
                    <p><strong>Location</strong> : Cape Town, South Africa </p>
                </div>
                <div class="col-md-6">
                    <!-- <div class=" col-md-4"> -->
                        <span>111 Mutual friends</span> <span style="margin-left: 25%;">59 Reviews</span>
                        <br><br>
                        <button class="badge badge-pill btnBackground">Connect</button>
                        <button class="badge badge-pill followBtn" style="margin-left: 20%;">Get a Quote</button>
                    <!-- </div> -->
                  
                </div>
            </div>
           
            <mat-tab-group>
                <mat-tab label="My story">
                    <kt-art></kt-art>
                    <kt-fil></kt-fil>
                    <!-- <kt-music></kt-music>
                    <kt-photography></kt-photography> -->
                </mat-tab>
                <mat-tab label="experience">
                    <!-- <kt-art></kt-art> -->
                    <!-- <kt-fil></kt-fil> -->
                    <kt-experience></kt-experience>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-3 mt-3" style="float: left;">
            <h5>Bio</h5>
            <p>International variety company - located in Cape Town </p>
            <p> <strong>Linked Networks :</strong>  
                <button type="button" class="btn btn-sm btn-fb"><i class="fab fa-facebook-f pr-1"></i></button>
                <a class="btn-floating btn-sm btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                <button type="button" class="btn btn-sm btn-ins"><i class="fab fa-instagram pr-1"></i> </button>
                <button type="button" class="btn btn-sm btn-li"><i class="fab fa-linkedin-in pr-1"></i></button>
            </p>
            <p><strong>Business History</strong></p>
            <p>Founded in 2000, Red bull has over 5000 registered members</p>
            <p><strong>Competitions Hosted:</strong></p>
            <p>Red bull has hosted 15 competitions with a total of R500 000.00 given away in prizes thus far.</p>
        </div>
    </div>
</div>
