<!-- <p>jobs works!</p> -->

<div class="col-md-6 offset-md-2 mt-4 badge badge-pill" style="border: solid 1px; background-color: white;">
    <div class="badge badge-pill" style="float: left; border: solid 1px;">
        <div class='height'>

        </div>
        company
    </div>
    <div class="col-md-6" style="float: left;">
        <span>Overview</span>
        <span class="ml-4">Responsibilities</span>
        <span class="ml-4">Requirments</span>
        <span class="ml-4">Company</span>
        <span class="ml-4">FAQ</span>
    </div>
</div>



<!-- PROFILE CHECKING -->
