
<!-- <div class="row"> -->
        <div class="card profile-card-2">
            <div class="card-img-block">
                <img class="img-fluid" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"  alt="Card image cap">
            </div>
            <div class="card-body pt-5">
                <div class="profile-thumb-block offset-md-3">
                    <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile" style="margin-left: 30%;"/>
                </div>
                
                <h5 class="card-title">Landon Hunt</h5>
                <p class="card-text">Some quick example text to build on .</p>
            </div>
        </div>

<!-- </div> -->