<!-- <div class="row">
    <div class="col-md-8 offset-md-1">
      <h3>Posts
        <button class="btn"><i class="fa fa-plus"></i></button>
        <button class="btn"><i class="fa fa-minus"></i></button>
    </h3>
    </div>
    <div class="col-md-2">
      View All
    </div>
    <div class="col-md-3 offset-md-1">
      <img src="./../../../../assets/media/blog/blog3.jpg" width="100%"  />
    </div>
    <div class="col-md-3">
      <img src="./../../../../assets/media/blog/blog3.jpg" width="100%" />
    </div>
    <div class="col-md-3 ">
      <img src="./../../../../assets/media/blog/blog3.jpg" width="100%" />
    </div>
  </div>
   -->
   <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h3>Posts
          <button class="btn"><i class="fa fa-plus"></i></button>
          <button class="btn"><i class="fa fa-minus"></i></button>
        </h3>
      </div>
  
      <div class="col-md-4">
        <img src="assets/media/blog/blog3.jpg" width="100%"  />
      </div>
      <div class="col-md-4 ">
        <img src="assets/media/blog/blog3.jpg" width="100%" />
      </div>
      <div class="col-md-4 ">
        <img src="assets/media/blog/blog3.jpg" width="100%" />
      </div> -->
      <!-- <div class="col-md-12 mt-4">
        <img src="./../../../../assets/media/bg/300.jpg" width="100%" />
      </div> -->
    <!-- </div>
  </div> -->
  
<div class="row ">
  <div class="container">
    <h4>Head-to-heads</h4>
    <div class="card text-center roundedCorner">
      <div class="card-body ">
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="float: left;">
          <p>VS</p>
        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-md-2" style="float: left;">
          <h6>Challenges</h6>
          <small><li>challenge 1</li></small>
          <small><li>challenge 2</li></small>

          <h6>Period</h6>
          <small><li>period 1</li></small>
          <small><li>period 1</li></small>

        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <h6>Rewards available</h6>
          <div class="col-md-4 mt-4 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 2nd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 3rd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <div class="col-md-12">
            <button class="btn badge badge-pill btnBackground mt-5" style="width: 100%;">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 2nd Head to Head -->

<div class="row mt-4">
  <div class="container">
    <!-- <h4>Head-to-heads</h4> -->
    <div class="card text-center roundedCorner">
      <div class="card-body ">
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="float: left;">
          <p>VS</p>
        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-md-2" style="float: left;">
          <h6>Challenges</h6>
          <small><li>challenge 1</li></small>
          <small><li>challenge 2</li></small>

          <h6>Period</h6>
          <small><li>period 1</li></small>
          <small><li>period 1</li></small>

        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <h6>Rewards available</h6>
          <div class="col-md-4 mt-4 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 2nd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 3rd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <div class="col-md-12">
            <button class="btn badge badge-pill btnBackground mt-5" style="width: 100%;">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Top Colabs Change into other file before making backend  -->
<div class="row mt-5">
  <div class="container">
    <h4>Collab requests</h4>
    <div class="card text-center roundedCorner">
      <div class="card-body ">
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="float: left;">
          <p>VS</p>
        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-md-2" style="float: left;">
          <h6>Challenges</h6>
          <small><li>challenge 1</li></small>
          <small><li>challenge 2</li></small>
          <h6>Period</h6>
          <small><li>period 1</li></small>
          <small><li>period 2</li></small>
        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <h6>Rewards available</h6>
          <div class="col-md-4 mt-4 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 2nd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 3rd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <div class="col-md-12">
            <button class="btn badge badge-pill acceptBtn mt-5" style="width: 100%;">Accept</button>
            <button class="btn badge badge-pill mt-2 followBtn" style="width: 100%;">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 2nd Request -->
<div class="row mt-5">
  <div class="container">
    <!-- <h4>Collab requests</h4> -->
    <div class="card text-center roundedCorner">
      <div class="card-body ">
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="float: left;">
          <p>VS</p>
        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <div class="card">
            <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
            <div class="card-body">
              <p class="card-text">John Doe</p>
              <span><small>location</small></span>
              <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-md-2" style="float: left;">
          <h6>Challenges</h6>
          <small><li>challenge 1</li></small>
          <small><li>challenge 2</li></small>
          <h6>Period</h6>
          <small><li>period 1</li></small>
          <small><li>period 1</li></small>
        </div>
        <!--  -->
        <div class="col-md-3" style="float: left;">
          <h6>Rewards available</h6>
          <div class="col-md-4 mt-4 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 2nd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <!-- 3rd -->
          <div class="col-md-4 mt-4 ml-2 icon-circle">
            <i class="fa fa-tree mt-2" style="text-align: center;"></i>
          </div>
          <div class="col-md-12">
            <button class="btn badge badge-pill acceptBtn mt-5" style="width: 100%;">Accept</button>
            <button class="btn badge badge-pill mt-2 followBtn" style="width: 100%;">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>