<!-- <p>landing-page works!</p> -->
<!-- <kt-topbar></kt-topbar> -->
<kt-landingpage-header>
  <div class="row landingpageimage">
    <div class="col-md-11" style="height:40vh">
    </div>
    <div class="col-md-4 offset-md-8">
        <div class="container">
            <h1>
                JOIN THE HOME OF SOUTH AFRICAN CREATIVES.
            </h1>
            <p>
                FIND TOP CREATIVE TALENT IN MINUTES WITH OUR NETWORK OF PROFESSIONALS.
            </p>
            <button class="badge badge-pill btnBackground">Join Untapped</button>
        </div>

        <div class="col-md-11" style="height:40vh"></div>
    </div>
  </div>

  <!-- 2nd Section start From here -->

  <div class="row services color">
      <div class="col-md-3 left">
          <div class="container">
            <div>
                <img src="assets/media/icons/Icons/Landing/2.png" style="width:100%; height:100%">
            </div>
            <h5 class="mt-1" style="text-align: center;">
                  FIND WORK
            </h5>
            <div class="col-md-8 offset-md-2">
                <p class="mt-5">
                    A unique and flexible
                    work solution - even for
                    hard those working 9-5!
                </p>
            </div>
          
          </div>
        
      </div>
      <div class="col-md-3 left">
        <div class="container">
          <div>
              <img src="assets/media/icons/Icons/Landing/3.png" style="width:100%; height:100%">
          </div>
          <h5 class="mt-1" style="text-align: center;">
            FAIR PRICE
          </h5>
          <div class="col-md-8 offset-md-2">
              <p class="mt-5">
                Top quality for a fair price
                - the best of both worlds.
                Buy a subscription & gift a
                subscription    
              </p>
          </div>
        
        </div>
      
      </div>
      <div class="col-md-3 left">
        <div class="container">
          <div>
              <img src="assets/media/icons/Icons/Landing/4.png" style="width:100%; height:100%">
          </div>
          <h5 class="mt-1" style="text-align: center;">
            CREATIVE-SUPPORT
          </h5>
          <div class="col-md-8 offset-md-2">
              <p class="mt-5">
                No more having to think
                about where to find work
                and how to get paid.
              </p>
          </div>
        
        </div>
      
      </div>
      <div class="col-md-3 left">
        <div class="container">
          <div>
              <img src="assets/media/icons/Icons/Landing/5.png" style="width:100%; height:100%">
          </div>
          <h5 class="mt-1" style="text-align: center;">
            BUILD A SIDE-HUSTLE
          </h5>
          <div class="col-md-8 offset-md-2">
              <p class="mt-5">
                We focus our time and
                tech on helping creatives
                turn their side work into
                their main grind.
              </p>
          </div>
        
        </div>
      
      </div>
  </div>

  <!-- 3rd Section Start From here -->
  <div class="row color mt-5">
      <div class="heading">
        <div class="col-md-3 left mt-4 ml-5">
          <hr class="hrwidth">
        </div>
        <div class="col-md-5 left">
          <h1 class="mt-4" style="text-align: center;">THE ART OF TRANSPARENCY</h1>
        </div>
        <div class="col-md-3 left mt-4 ml-5">
          <hr class="hrwidth">
        </div>

        <div class="col-md-12 offet-md-4">
            <img src="assets/media/icons/Icons/Landing/6.png" width="100%" height="150%">
        </div>
      </div>   
  </div>
  
  <!-- 4th Section Start From here -->
  <div class="row color mt-5">
      <div class="col-md-4 left offset-md-1">
          <div class="mt-5">
              <div class="col-md-10" style="height: 20vh;">

              </div>
              <div class="container">
                <hr class="mt-5 hrwidth">
                <h5>1. SIGN UP & UPLOAD YOUR BEST WOR</h5>
                <p>
                  Are you creative? Do you want to make a little
                  extra cash? Choose your creative category &
                  upload the work your are most proud of
                </p>
              </div>
         

          </div>
      </div>
      <div class="col-md-7 left">
          <div class="mt-5">
            <img src="assets/media/icons/Icons/Landing/7.png" width="100%">
          </div>
      </div>

  </div>

  <!-- 5th section -->
  <div class="row color mt-5">

    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/8.png" width="100%">
        </div>
    </div>

    <div class="col-md-4 left offset-md-1">
        <div class="mt-5">
            <div class="col-md-10" style="height: 20vh;">

            </div>
            <div class="container">
              <hr class="mt-5 hrwidth">
              <h5>1. SIGN UP & UPLOAD YOUR BEST WOR</h5>
              <p>
                Are you creative? Do you want to make a little
                extra cash? Choose your creative category &
                upload the work your are most proud of
              </p>
            </div>
       

        </div>
    </div>

</div>

  <!-- 6th Section Start From here -->
  <div class="row color mt-5">
    <div class="col-md-4 left offset-md-1">
        <div class="mt-5">
            <div class="col-md-10" style="height: 20vh;">

            </div>
            <div class="container">
              <hr class="mt-5 hrwidth">
              <h5>1. SIGN UP & UPLOAD YOUR BEST WOR</h5>
              <p>
                Are you creative? Do you want to make a little
                extra cash? Choose your creative category &
                upload the work your are most proud of
              </p>
            </div>
       

        </div>
    </div>
    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/9.png" width="100%">
        </div>
    </div>

</div>

  <!-- 7th section -->
  <div class="row color mt-5">

    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/10.png" width="100%">
        </div>
    </div>

    <div class="col-md-4 left offset-md-1">
        <div class="mt-5">
            <div class="col-md-10" style="height: 20vh;">

            </div>
            <div class="container">
              <hr class="mt-5 hrwidth">
              <h5>1. SIGN UP & UPLOAD YOUR BEST WOR</h5>
              <p>
                Are you creative? Do you want to make a little
                extra cash? Choose your creative category &
                upload the work your are most proud of
              </p>
            </div>
       

        </div>
    </div>

</div>

  <!-- 8th Section Start From here -->
  <div class="row color mt-5">
    <div class="col-md-4 left offset-md-1">
        <div class="mt-5">
            <div class="col-md-10" style="height: 20vh;">

            </div>
            <div class="container">
              <hr class="mt-5 hrwidth">
              <h5>1. SIGN UP & UPLOAD YOUR BEST WOR</h5>
              <p>
                Are you creative? Do you want to make a little
                extra cash? Choose your creative category &
                upload the work your are most proud of
              </p>
            </div>
       

        </div>
    </div>
    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/11.png" width="100%">
        </div>
    </div>

</div>

<!-- 9th section start from here -->
    <div class="row color mt-5">
      <div class="col-md-3 left mt-4 ml-5">
        <hr class="hrwidth">
      </div>
      <div class="col-md-5 left">
        <h1 class="mt-4" style="text-align: center;">MENTIONED ON</h1>
      </div>
      <div class="col-md-3 left mt-4 ml-5">
        <hr class="hrwidth">
      </div>
        <div class="col-md-4 left">
            <div class="mt-5">
                <div class="col-md-8 offset-md-3">
                    <img src="assets/media/icons/Icons/Landing/12.png" width="100%">
                </div>
            </div>
        </div>
        <div class="col-md-4 left">
            <div class="mt-5">
                <div class="col-md-6 offset-md-3">
                    <img src="assets/media/icons/Icons/Landing/13.PNG" width="100%">
                </div>
            </div>
        </div>
        <div class="col-md-4 left">
            <div class="mt-5">
                <div class="col-md-8 offset-md-1">
                    <img src="assets/media/icons/Icons/Landing/15.PNG" width="100%">
                </div>
            </div>
        </div>
        <div class="col-md-11" style="height:40vh">
        </div>
    </div>

    <kt-footer></kt-footer>

</kt-landingpage-header>
