.chat{
    border: 1px solid;
    background-color: white;
    height: 278px;
}
.basicColor{
    border-color: rgb(249, 113, 103);
}
.divBorder{
    border: 1px solid;
    color: rgb(249, 113, 103);
}
.textmessages{
    height:180px;
    overflow:scroll;
}
.typetext{
    height:20px;
}
.sendMessage{
    height: 27px;
}

