<!-- <p>conversation works!</p> -->
<div class="row">
    <div class="container rounded-lg chat"  >
        <div class="col-md-12 mt-2">
            <input type="text" class="form-control basicColor" >
            <div class="col-md-12 divBorder mt-2 mb-2 ml-1 rounded-lg textmessages">
                <img src="assets/media/rounded/round.png"  width="25" height="25" class="mt-1">
                <hr>
                All messages 
            </div>
            <div class="col-md-12 divBorder  ml-1 rounded-lg sendMessage">
                <span style="float: left;">🙂</span>
                <div class="col-md-10 mt-1 mb-1" style="float: left;">
                    <input type="text" class="form-control typetext"  >
                </div>
                <div class="col-md-1" style="float: right;">
                    <span><i class="fa fa-plus"></i></span>
                </div> .
            </div>
        </div>
        <!-- <div class="col-md-11 offset-md-1 mt-2  divBorder rounded-lg">
            text
            <hr>
        </div> -->
    </div>
</div>
