<!-- <p>posts works!</p> -->
<div class="row">
    <div class="container rounded-lg post">
        <span><strong>Create Post</strong></span> <span style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></span>
        <br>
        <img src="assets/media/rounded/round.png" class="rounded mt-4" width="10%" height="30%" style="float: left;">
        <p class="mt-4"> <strong  style="margin-left: 5%;">you been up to, Khanyani?</strong> </p>
        <br>
        <span><i class="fa fa-plus"></i> Clip</span>
        <span class="ml-3"><i class="fa fa-plus"></i> Tag Creatives</span>
        <span class="ml-3"><i class="fas fa-ellipsis-h"></i></span>
        <button class="badge badge-pill btnBackground mb-2" style="float: right;"> upload</button>
    </div>
</div>
<div class="row mt-2" >
    <div class="container rounded-lg post">
        <h5 style="text-align: center;">Posts</h5>
        <p>
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        </p>
    </div>
</div>