<div class="col-md-7" style="float: left; padding-right: 0px;">
    <input type="text" class="form-control search" >
</div>
<div class="col-md-2" style="float: left; padding-left: 0px;">
    <button class="searchBtn form-control">Search</button>
</div>
<div class="col-md-9">
    <span class="text-size">Talent/skill</span>
    <span class="ml-4"><i class="fa fa-angle-down fa-3x"></i></span>
    <span class="ml-4 text-size" >Location</span>
    <span class="ml-4"><i class="fa fa-angle-down fa-3x"></i></span>
    <span class="ml-4 text-size">Min Price</span>
    <span class="ml-4"><i class="fa fa-angle-down fa-3x"></i></span>
    <span class="ml-4 text-size">Max Price</span>
    <span class="ml-4"><i class="fa fa-angle-down fa-3x"></i></span>
</div>