.searchBtn{
    border-radius: 0px;
    // border: 0px;
    background-color: rgb(249, 113, 103);
    color:white;
    padding-left: 0px !important;
}
.search{
    padding-right: 0px !important;
}
.text-size{
    font-size: large;
}