<!-- <p>explore works!</p> -->
<div class="col-md-row">
    <div class="container">
        <h4 style="text-align: center;">Explore</h4>
    </div>
    <div class="col-md-11 offset-md-1">
        <mat-tab-group>
            <mat-tab  label="Full Time" >
                <kt-search></kt-search>
                <h3>Find Top Creative Jobs</h3>
                <kt-jobs></kt-jobs>
                <kt-jobs></kt-jobs>
            </mat-tab>

            <mat-tab label="Part-time">
                <kt-search></kt-search>
            </mat-tab> 

            <mat-tab label="Callabs">
                <div class="col-md-12">
                    <kt-search ></kt-search>
                 </div>
                <div class="col-md-9" style="float: left;">
                    <h3 class="mt-5">Top Collaborators</h3>

                    <div class="col-md-3 mt-5"style='float:left'>
                        <kt-collaborators></kt-collaborators>
                    </div>
                    <div class="col-md-3 mt-5" style="float: left;">
                        <kt-collaborators></kt-collaborators>
                    </div>
                    <div class="col-md-3 mt-5" style="float: left;">
                        <kt-collaborators></kt-collaborators>
                    </div>
                    <div class="col-md-3 mt-5" style="float: left;">
                        <kt-collaborators></kt-collaborators>
                    </div>
                </div>
                <div class="col-md-3" style="float: left;">
                    <h5 style="text-align: center;">How do collaborations work?</h5>
                    <h5 class="mt-5">Collabs</h5>
                    <p class="mt-5">Instead of picking from 5-10 people that you know -
                        search through a large pool of creatives on our site.
                    </p>
                    <p class="mt-5">Instead of picking from 5-10 people that you know -
                        search through a large pool of creatives on our site.
                    </p>
                    <h5 style="text-align: center;">How do collaborations work?</h5>
                    <h5 class="mt-5">Collabs</h5>
                    <p class="mt-5">Instead of picking from 5-10 people that you know -
                        search through a large pool of creatives on our site.
                    </p>
                </div>
                <div class="col-md-9" style="float: left;">
                    <h3 >Trending Collaborators</h3>

                    <div class="col-md-3 mt-5"style='float:left'>
                        <kt-collaborators></kt-collaborators>
                    </div>
                    <div class="col-md-3 mt-5" style="float: left;">
                        <kt-collaborators></kt-collaborators>
                    </div>
                    <div class="col-md-3 mt-5" style="float: left;">
                        <kt-collaborators></kt-collaborators>
                    </div>
                    <div class="col-md-3 mt-5" style="float: left;">
                        <kt-collaborators></kt-collaborators>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>