.btnBackground{
    background-color: rgb(249, 113, 103); 
    color: white;
    padding-left: 2% !important;
    padding-right: 2% !important;
    border:0px;

}
.followBtn{
	border-color: rgb(249, 113, 103);
	padding-left: 2% !important;
	padding-right: 2% !important;
	color:  rgb(249, 113, 103);
	background-color: white;
	// border:0px;
}