<div class="col-md-row" style="background-color: white;">
    <!-- <p></p> -->
    <h6 class="pt-3 pl-3"><strong><span style="color: rgb(249, 113, 103);">Untapped </span>top 30 </strong> <button class="btn btn-sm ml-5"><i class="fas fa-play-circle"></i></button><button class="btn btn-sm "><i class="fal fa-bars"></i></button></h6>
    <hr>
    <div>
        <div class="col-md-2" style="display: inline-block;">
            <h4 class="mb-6">1</h4>
        </div>
        <div class="col-md-10" style="display: inline-block">
            <p><strong>Freedom</strong> Orignal Mix</p>
        <p><small style="color: green;">Chris Lake,Solardo</small></p>
        </div>
        <div class="col-md-10 offset-md-2" style="display: inline-block">
            <p><small>Black Book,Records</small></p>
        </div>
    </div>

    <!-- 2nd Song -->
    <div>
        <div class="col-md-2" style="display: inline-block;">
            <h4 class="mb-6">2</h4>
        </div>
        <div class="col-md-10" style="display: inline-block">
            <p><strong>Freedom</strong> Orignal Mix</p>
        <p><small style="color: green;">Chris Lake,Solardo</small></p>
        </div>
        <div class="col-md-10 offset-md-2" style="display: inline-block">
            <p><small>Black Book,Records</small></p>
        </div>
    </div>
<!-- 3nd Song -->
    <div>
        <div class="col-md-2" style="display: inline-block;">
            <h4 class="mb-6">3</h4>
        </div>
        <div class="col-md-10" style="display: inline-block">
            <p><strong>Freedom</strong> Orignal Mix</p>
        <p><small style="color: green;">Chris Lake,Solardo</small></p>
        </div>
        <div class="col-md-10 offset-md-2" style="display: inline-block">
            <p><small>Black Book,Records</small></p>
        </div>
    </div>
<!-- 4nd Song -->
    <div>
        <div class="col-md-2" style="display: inline-block;">
            <h4 class="mb-6">4</h4>
        </div>
        <div class="col-md-10" style="display: inline-block">
            <p><strong>Freedom</strong> Orignal Mix</p>
        <p><small style="color: green;">Chris Lake,Solardo</small></p>
        </div>
        <div class="col-md-10 offset-md-2" style="display: inline-block">
            <p><small>Black Book,Records</small></p>
        </div>
    </div>
<!-- 5nd Song -->


</div>
