<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h3>Host New</h3>
      </div>
      <div class="col-md-2">
        <button class="btn" (click)='addHost()'><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-md-4">
        <img src="assets/media/blog/blog1.jpg" width="100%"  />
      </div>
      <div class="col-md-4 ">
        <img src="assets/media/blog/blog1.jpg" width="100%" />
      </div>
      <div class="col-md-4 ">
        <img src="assets/media/blog/blog1.jpg" width="100%" />
      </div>
      <div class="col-md-12 mt-4">
        <img src="assets/media/bg/300.jpg" width="100%" />
      </div>
    </div>
  </div> -->
<div class="row">
  <!-- <div class="container-fluid"> -->
    <div class="col-md-12">
      <div class="col-md-6" style="float:left">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formal Education</h5>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="float:left">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Work Experience</h5>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" >
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Self Education</h5>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>